<%= form_with(model: [@property, @unit, budget_item], local: true) do |form| %>
  <% if budget_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_item.errors.count, "error") %> prohibited this budget_item from being saved:</h2>

      <ul>
        <% budget_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex">
    <div class="w-6/12 mb-6">
      <%= form.label :product_id, "Add a Budget Item", class: "label" %>
      <%= content_tag :div, data: { controller: 'autocomplete', "autocomplete-url": '/products/search' } do %>
        <%= text_field_tag :product, budget_item.product_name, data: { target: 'autocomplete.input' }, placeholder:"Search products...", class: 'input' %>
        <%= form.hidden_field :product_id, data: { target: 'autocomplete.hidden' } %>
        <%= tag :ul, data: { target: 'autocomplete.results' }, class: 'autocomplete' %>
      <% end %>
    </div>

    <div class="w-3/12 mb-6">
      <%= form.label :qty, "Quantity", class: "label" %>
      <%= form.text_field :qty, placeholder:"How many?", class: "input" %>
    </div>

    <div class="actions w-3/12 pt-6">
      <%= form.submit class: "btn btn-default" %>
    </div>
  </div>

  




  
<% end %>
