<%= form_with(model: [@property, @unit, budget_item], local: true) do |form| %>
  <% if budget_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_item.errors.count, "error") %> prohibited this budget_item from being saved:</h2>

      <ul>
        <% budget_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex">
    <div class="w-3/12 mb-6">
      <%= form.label :product, "Add a Budget Item", class: "label" %>
      <%= form.text_field :product, placeholder:"Add Product...", class: "input" %>
    </div>

    <div class="w-3/12 mb-6">
      <%= form.label :qty, "Quantity", class: "label" %>
      <%= form.text_field :qty, placeholder:"How many?", class: "input" %>
    </div>

    <div class="actions w-3/12 pt-6">
      <%= form.submit class: "btn btn-default" %>
    </div>
  </div>

  




  
<% end %>
