<p id="notice"><%= notice %></p>

<h1>Budget Items</h1>

<table>
  <thead>
    <tr>
      <th>Qty</th>
      <th>Budget item</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_items.each do |budget_item| %>
      <tr>
        <td><%= budget_item.qty %></td>
        <td><%= budget_item.budget_item_id %></td>
        <td><%= budget_item.product_id %></td>
        <td><%= link_to 'Show', budget_item %></td>
        <td><%= link_to 'Edit', edit_budget_item_path(budget_item) %></td>
        <td><%= link_to 'Destroy', budget_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget Item', new_budget_item_path %>
