<div class="grid grid-cols-12 gap-6 mb-10">
  <% @poperty.units.each do |unit| %>
    <div class="col-span-12 p-6 border rounded shadow lg:col-span-3">
      <%= link_to unit, class: "block" do %>
        <h3 class="text-lg font-bold"><%= unit.number %></h3>
        <p class="mb-1 leading-snug text-gray-600"><%= unit.sqft %> </p>
        <p class="leading-snug text-gray-600"><%= unit.beds %> Beds </p>
        <p class="leading-snug text-gray-600">YOC: <%= property.year_built %></p>
        
        <p class="leading-snug text-gray-600">
          <% if property.status == 'Own' %>
            Purchase Price: <%= number_to_currency(property.purchase_price, :precision => 0) %>
            <br/>
            $/unit: <%= number_to_currency(property.purchase_price/property.unit_count, :precision => 0) %>
          <% else %>
            Asking Price: <%= number_to_currency(property.asking_price, :precision => 0) %>
            <br/>
            $/unit: <%= number_to_currency(property.asking_price/property.unit_count, :precision => 0) %>
          <% end %>
        </p>
        <p class="mt-2 leading-snug text-gray-600">Status: <%= property.status %></p>
      <% end %>
    </div>
  <% end %>
</div>