<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Unit count</th>
      <th>Year built</th>
      <th>Status</th>
      <th>Asking price</th>
      <th>Purchase price</th>
      <th>Ae flood zone</th>
      <th>Notes</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.street_address %></td>
        <td><%= property.city %></td>
        <td><%= property.state %></td>
        <td><%= property.zipcode %></td>
        <td><%= property.unit_count %></td>
        <td><%= property.year_built %></td>
        <td><%= property.status %></td>
        <td><%= property.asking_price %></td>
        <td><%= property.purchase_price %></td>
        <td><%= property.ae_flood_zone %></td>
        <td><%= property.notes %></td>
        <td><%= property.user_id %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
