<p id="notice"><%= notice %></p>


<div class="max-w-4xl px-10 pt-10 pb-24 mx-auto mt-10 bg-white border rounded shadow-lg">
  <div class="flex flex-wrap items-center justify-between">
    <h1 class="mb-4 text-4xl font-bold">
      <%= @property.name %>
    </h1>
  </div>

  <div class="text-lg font-light leading-relaxed text-gray-600">
    <p class="font-bold text-gray-900"><%= @property.street_address %></p>
    <p class="font-bold text-gray-900"><%= @property.city %>, <%= @property.state %> <%= @property.zipcode %></p>
  </div>

  <h3 class="pb-3 my-6 text-2xl font-bold border-b">Units</h3>

  <%= render "units/cards", unit: @unit %>
</div>



<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @property.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @property.zipcode %>
</p>

<p>
  <strong>Unit count:</strong>
  <%= @property.unit_count %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @property.year_built %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>

<p>
  <strong>Asking price:</strong>
  <%= @property.asking_price %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @property.purchase_price %>
</p>

<p>
  <strong>Ae flood zone:</strong>
  <%= @property.ae_flood_zone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @property.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user_id %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
