<p id="notice"><%= notice %></p>

<h1>Budget Item Lists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_item_lists.each do |budget_item_list| %>
      <tr>
        <td><%= link_to 'Show', budget_item_list %></td>
        <td><%= link_to 'Edit', edit_budget_item_list_path(budget_item_list) %></td>
        <td><%= link_to 'Destroy', budget_item_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget Item List', new_budget_item_list_path %>
