<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :number, class: "label" %>
    <%= form.text_field :number, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :sqft, class: "label" %>
    <%= form.number_field :sqft, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :beds, class: "label" %>
    <%= form.text_field :beds, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :baths, class: "label" %>
    <%= form.text_field :baths, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :floor_plan, class: "label" %>
    <%= form.text_field :floor_plan, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-default" %>
  </div>
<% end %>
