<p id="notice"><%= notice %></p>

<h1>Units</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Sqft</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Floor plan</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.number %></td>
        <td><%= unit.sqft %></td>
        <td><%= unit.beds %></td>
        <td><%= unit.baths %></td>
        <td><%= unit.floor_plan %></td>
        <td><%= unit.property_id %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
