<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @unit.number %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @unit.sqft %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @unit.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @unit.baths %>
</p>

<p>
  <strong>Floor plan:</strong>
  <%= @unit.floor_plan %>
</p>

<p>
  <strong>Property:</strong>
  <%= @unit.property_id %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
