<p id="notice"><%= notice %></p>

<p class="font-bold text-gray-900"><%= @property.name %></p>
<div class="max-w-4xl px-10 pt-10 pb-24 mx-auto mt-10 bg-white border rounded shadow-lg">
    <div class="flex flex-wrap items-center justify-between">
      <h1 class="mb-4 text-4xl font-bold">
        Unit <%= @unit.number %>
      </h1>
    </div>
    <div class="text-lg font-light leading-relaxed text-gray-600">
      <p class="font-bold text-gray-900"><%= @unit.sqft %> SQFT</p>
      <p class="font-bold text-gray-900"><%= @unit.beds %> Beds/<%= @unit.baths %> Baths</p>
      <p class="font-bold text-gray-900">Floor Plan: <%= @unit.floor_plan %></p>
      
    </div>

  <h3 class="pb-3 my-6 text-2xl font-bold border-b">Budget</h3>

  <%= render "budget_items/form", budget_item: @budget_item %>

  <ul class="mb-6 leading-relaxed">
    
      <table class="table-auto">
        <thead>
          <th class="px-4 py-2">Complete?</th>
          <th class="px-4 py-2">Product</th>
          <th class="px-4 py-2">Description</th>
          <th class="px-4 py-2">Qty</th>
          <th class="px-4 py-2">Units</th>
          <th class="px-4 py-2">Price/Unit</th>
          <th class="px-4 py-2">Extended Price</th>
        </thead>

        <tbody>
          <% @unit.budget_items.each do |item| %>
            <tr>
              <td class="border px-4 py-2 text-center"><%= check_box_tag "complete", item.complete %></td>
              <td class="border px-4 py-2"><%= item.product_name %></td>
              <td class="border px-4 py-2"><%= item.product.description %></td>
              <td class="border px-4 py-2"><%= item.qty %></td>
              <td class="border px-4 py-2"><%= item.product.base_unit %></td>
              <td class="border px-4 py-2">$<%= item.product.price %></td>
              <td class="border px-4 py-2">$<%= item.product.price * item.qty %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </ul>

</div>



<%#= link_to 'Edit', edit_unit_path(@unit) %> 
<%#= link_to 'Back', units_path %>
